<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>base</title>
  <link rel="stylesheet" href="dist/styles/main.css">
</head>
<body>

  {{> header}}

  <br><br>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae quos voluptatem nobis asperiores, iste est mollitia aperiam excepturi architecto tempore quisquam natus, reprehenderit soluta accusamus fuga, consequatur error facilis magni.</p>
  <p>Fuga vel saepe veritatis eius molestias, quod nostrum laudantium sint enim odio doloribus natus corporis, illum, sit commodi nihil, non harum! Voluptatem aspernatur adipisci, quisquam maxime accusantium quae tempore ad!</p>
  <p>Ducimus adipisci nulla, excepturi illum doloremque maiores perferendis culpa veniam pariatur similique dicta dolorum porro totam officiis quidem aliquid. Recusandae amet, quod ab tenetur laboriosam corrupti quam saepe nemo quibusdam.</p>
  <p>Quo reiciendis ipsa, neque omnis est dolorum sunt magni ut illo quas, sint dolores quia quos? Magnam nisi, omnis ab, facere vero itaque. Iure ea voluptates dolorum nobis sapiente delectus.</p>
  <p>Consequatur, omnis, recusandae vero porro est eligendi temporibus praesentium vel voluptatem at. Blanditiis esse tempora id vero aliquam illo sint dignissimos itaque inventore, doloribus odit veniam nemo pariatur omnis consequatur!</p>

  {{> footer}}

  <script src="dist/scripts/main.js"></script>
</body>
</html>
