<header>
  <ul>
    <li>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse iste distinctio nisi, praesentium laborum cupiditate, inventore molestiae possimus fuga cum hic facere animi dolorem numquam saepe eius. Fugiat, voluptates est!</p>
    </li>
    <li>
      <p>Laudantium quas omnis quis sunt, pariatur aliquam minus eum iure, fuga possimus, sint officiis ipsam, dolores accusamus. Earum repudiandae perspiciatis, tempora sit enim, dolores necessitatibus quasi id sint eaque, at.</p>
    </li>
    <li>
      <p>Corporis, fugit at. Ex porro facilis beatae, natus quae qui obcaecati inventore laboriosam, eius culpa. Enim saepe nesciunt qui suscipit laboriosam quas minima excepturi tenetur, repellendus sapiente. Dolorum, autem, sequi.</p>
    </li>
    <li>
      <p>Pariatur possimus commodi, molestiae, quod voluptate saepe magnam quaerat consequuntur magni expedita veritatis nulla consectetur ipsam. Molestiae eius impedit officia eveniet laboriosam soluta porro, a dignissimos blanditiis enim! Itaque, magnam.</p>
    </li>
    <li>
      <p>Eos numquam nisi amet rerum cumque tempore est eius quo accusantium laboriosam molestias et neque officia excepturi dicta obcaecati veniam pariatur saepe quod eaque molestiae recusandae labore, mollitia rem voluptate.</p>
    </li>
    <li>
      <p>Architecto consequatur, temporibus illo ea et reprehenderit velit qui maiores eos perferendis unde eum nihil nostrum dolores sit rerum esse corrupti, soluta. Temporibus, modi, repellendus sapiente dolorum odit reprehenderit necessitatibus!</p>
    </li>
  </ul>
</header>
